body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #141414; /* Netflix-style dark background */
    color: white;
}
.nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Semi-transparent black */
    z-index: 1000;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}
.my-chill-zone-nav-bar {
    display: flex;
    align-items: center;
    margin-right: auto; /* Логото е най-вляво */
}
.my-chill-zone-logo {
    color: #e50914; /* Netflix red */
    font-size: 24px;
    font-weight: bold;
    margin-right: 5px;
}

.my-chill-zone-logo-under{
    color: #e50914; /* Netflix red */
    font-size: 37px;
    font-weight: bold;
    margin-right: 5px;
    margin: 2px -30px -47px -96px;
}


.func-block {
    display: flex;
    gap: 20px;
    align-items: center;
    margin: -11px -8px -17px 107px;
}
.func-block a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}
.func-block a:hover {
    color: #e50914; /* Netflix red on hover */
}
.logout {
    margin-left: auto; /* Бутонът за изход е най-вдясно */
    margin: -17px -1px 2px 0px
}
.logout a {
    color: white;
    text-decoration: none;
    background-color: #e50914; /* Netflix red */
    border-radius: 24px;
    transition: background-color 0.3s;
}

main {
    padding-top: 72px /* Отстъп за навигационната лента */
}

a.button.logout{
    top: 50px;
    right: 14px;
    position: fixed;
    padding: 10px 16px;
}

.button{
    display: inline-block;
    appearance: none;
    background-color: red;
    font-size: 15px;
    font-weight: 300;
    line-height: 0.8;
    color: #fff;
    /* text-transform: uppercase; */
    letter-spacing: 0.04em;
    border-radius: 40px;
    box-shadow: inset 0 1px 9px rgba(255, 255, 255, 0.5);
}

.footer {
    color: rgba(255, 255, 255, 0.69);
    text-align: center;
    margin-top: 165px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    letter-spacing: 0.5px;
}

/* SEARCH */

