<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/contact-us.css">


    <title>Contact us</title>
</head>
<body>

<main>
    <div class="nav-bar">
        <div class="top-bar-container">
            <nav>
                <div class="top-navbar">
                    <div class="my-chill-zone-nav-bar">
                        <div class="my-chill-zone-logo">MyChill</div>
                        <div class="my-chill-zone-logo-under">Zone</div>
                    </div>
                    <div class="func-block">
                        <a th:href="@{/home}">
                            <p>Home</p>
                        </a>

                        <a th:href="@{'/users/' + ${user.id} + '/profile'}">
                            <p>Profile</p>
                        </a>

                        <a th:href="@{/subscriptions}">
                            <p>Upgrade Plan</p>
                        </a>

                        <a th:href="@{/wallet}">
                            <p>Wallet</p>
                        </a>

                        <a th:href="@{/transactions}">
                            <p>Transactions</p>
                        </a>

                        <a th:href="@{/subscriptions/history}">
                            <p>Subscription History</p>
                        </a>
                        </a>

                        <a th:href="@{/notifications}">
                            <p>Notification</p>
                        </a>

                        <a th:href="@{/contacts}">
                            <p>Contacts</p>
                        </a>

                        <a th:href="@{/users}" th:if="${user.getUserRole().name() == 'ADMIN'}">
                            <p>Users</p>
                        </a>
                    </div>
                </div>
            </nav>

            <div class="logout">
                <a href="/logout" class="button logout">Logout</a>
            </div>
        </div>
    </div>

    <!-- UpgradeResult  -->

        <div class="contact-container">
            <h1>Contact Us</h1>
            <p>Have any questions or need support? Reach out to us!</p>
            <p>Email: <a href="mailto:support@mychillzone.com">support@mychillzone.com</a></p>
            <p>Phone: +359 88 123 6789</p>
            <p>Follow us on social media:</p>
            <p>
                <a href="https://www.facebook.com/MyChillZone" target="_blank">Facebook</a> |
                <a href="https://www.twitter.com/MyChillZone" target="_blank">Twitter</a> |
                <a href="https://www.instagram.com/MyChillZone" target="_blank">Instagram</a>
            </p>
        </div>

</main>
    <div class="footer"><p>© 2025 MyChillZone. All rights reserved.</p></div>
</body>
</html>