<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <title>Index</title>
</head>
<body>
<header class="header">
    <div class="header-inner">
        <nav class="nav">
            <a th:href="@{/register}" class="button register">Register</a>
            <a th:href="@{/login}" class="button login">Login</a>
        </nav>
    </div>
</header>
<main>
    <div class="logo-container">
        <a href="/" class="logo-big">
            <img src="/images/index-page.jpg" alt="Logo Image">
        </a>
    </div>
</main>
<div class="footer"><p>© 2025 MyChillZone. All rights reserved.</p></div>
</body>
</html>