<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Login</title>
</head>

<body>
<div class="logo-container">
    <a href="/" class="logo-big">
        <img src="/images/index-page.jpg" alt="Logo Image">
    </a>
</div>
    <div class="wrapper">
        <form class="form" th:action="@{/login}" th:method="POST" th:object="${loginRequest}">
            <h1>Login</h1>

            <label for="username">Username</label>
            <div class="input-box">
                <input type="text" placeholder="Username"  id="username" th:field="*{username}" required>
                <i class='bx bxs-user'></i>
            </div>

            <label for="password">Password</label>
            <div class="input-box">
                <input type="password" placeholder="Password" id="password"  th:field="*{password}" required>
                <i class='bx bxs-lock-alt'></i>
            </div>

            <div class="remember-forgot">
                <label><input type="checkbox">Remember me</label>
                <a href="#">Forgot password?</a>
            </div>
            <button type="submit" class="btn">Login</button>

            <div class="register-link">
                <p>Don't have an account? <a href="/register">Register now</a>!</p>
            </div>
        </form>
    </div>
<div class="footer"><p>© 2025 MyChillZone. All rights reserved.</p></div>
</body>
</html>