<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/movies.css">
    <title>Movies</title>
</head>
<body>

<div class="nav-bar">
    <div class="top-bar-container">
        <nav>
            <div class="top-navbar">
                <div class="my-chill-zone-nav-bar">
                    <div class="my-chill-zone-logo">MyChill</div>
                    <div class="my-chill-zone-logo-under">Zone</div>
                </div>
                <div class="func-block">
                    <a th:href="@{/home}">
                        <p>Home</p>
                    </a>
                    <a th:href="@{/search}">
                        <p>Search</p>
                    </a>
                    <a th:href="@{/category}">
                        <p>Category</p>
                    </a>
                    <a th:href="@{/movies}">
                        <p>Movies</p>
                    </a>
                    <a th:href="@{/movies/favourites}">
                        <p>Favourite Movies</p>
                    </a>
                    <a th:href="@{/movies/liked}">
                        <p>Most Liked Movies</p>
                    </a>
                    <a th:href="@{'/users/' + ${user.id} + '/profile'}">
                        <p>Profile</p>
                    </a>
                    <a th:href="@{/notifications}">
                        <p>Notification</p>
                    </a>

                    <a th:href="@{/contacts}">
                        <p>Contacts</p>
                    </a>
                    <a th:href="@{/users}" th:if="${user.getUserRole().name() == 'ADMIN'}">
                        <p>Users</p>
                    </a>
                </div>
            </div>
        </nav>

        <div class="logout">
            <a th:href="@{/logout}" class="button logout">Logout</a>
        </div>
    </div>
</div>

<main>

    <div class="genre-section" th:each="entry :${moviesByGenre}">
        <h3 class="genre-title" th:text="${#strings.capitalize(entry.key.name().toLowerCase()) + ' Movies'}">Action Movies</h3>
        <div class="movies-container">

            <div class="movie-card" th:each="movie : ${entry.value}">
                <img th:src="@{${movie.imageUrl}}" class="movie-poster" th:alt="${movie.title}">
                <div class="movie-buttons">
                    <form th:action="@{'/movies/' + ${movie.id} + '/favourites'}" th:method="POST">
                        <button class="movie-button favourite">Favourites
                        </button>

                    </form>
                    <form th:action="@{'/movies/' + ${movie.id} + '/like'}" th:method="POST">
                        <button class="movie-button like">Like
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script>
        // Добавяме функционалност за бутоните
        document.querySelectorAll('.favourite').forEach(button => {
            button.addEventListener('click', function() {
                this.classList.toggle('active');
            });
        });

        document.querySelectorAll('.like').forEach(button => {
            button.addEventListener('click', function() {
                this.classList.toggle('active');
            });
        });
    </script>

</main>

</body>
<div class="footer"><p>© 2025 MyChillZone. All rights reserved.</p></div>
</html>