<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/not-found.css">


    <title>NOT FOUND</title>
</head>
<body>

<main>
    <div class="nav-bar">
        <div class="top-bar-container">
            <nav>
                <div class="top-navbar">
                    <div class="my-chill-zone-nav-bar">
                        <div class="my-chill-zone-logo">MyChill</div>
                        <div class="my-chill-zone-logo-under">Zone</div>
                    </div>
                    <div class="func-block">
                        <a th:href="@{/home}">
                            <p>Home</p>
                        </a>

                        <a th:href="@{'/users/profile'}">
                            <p>Profile</p>
                        </a>

                        <a th:href="@{/subscriptions}">
                            <p>Upgrade Plan</p>
                        </a>

                        <a th:href="@{/wallet}">
                            <p>Wallet</p>
                        </a>

                        <a th:href="@{/transactions}">
                            <p>Transactions</p>
                        </a>

                        <a th:href="@{/subscriptions/history}">
                            <p>Subscription History</p>
                        </a>

                        <a th:href="@{/contacts}">
                            <p>Contacts</p>
                        </a>

                        <a th:href="@{/users}">
                            <p>Users</p>
                        </a>
                    </div>
                </div>
            </nav>



            <div class="logout">
                <a href="/logout" class="button logout">Logout</a>
            </div>
        </div>
    </div>

    <!--  NOT_FOUND -->

    <div class="home-section">
        <div class="single-section-box payment-result-container">
            <div class="payment-box not-found">
                <div class="payment-header">
                    <div class="icon">
                        <svg width="48" height="48" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 20h.01M12 16c0-3 4-3 4-6s-2-5-4-5-4 2-4 3"
                                  stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <h2>Oops! We couldn't find that.</h2>
                    <p>If you need any further assistance with your query, please don't hesitate to reach out to our support team. We're here to help!</p>
                </div>
            </div>

            <div class="details-section">
                <div class="details-section-container">
                    <strong>Error code: </strong>
                    <p>404 Not Found</p>
                </div>
            </div>

            <a th:href="@{/home}" class="profile-actions-button">
                <p>Go back</p>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4 7H14C17.3137 7 20 9.68629 20 13C20 16.3137 17.3137 19 14 19H4M4 7L8 3M4 7L8 11" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
            </a>
        </div>
    </div>

</main>
<div class="footer"><p>© 2025 MyChillZone. All rights reserved.</p></div>
</body>
</html>