<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/notification.css">
    <title>Notification</title>
</head>
<body>

<div class="nav-bar">
    <div class="top-bar-container">
        <nav>
            <div class="top-navbar">
                <div class="my-chill-zone-nav-bar">
                    <div class="my-chill-zone-logo">MyChill</div>
                    <div class="my-chill-zone-logo-under">Zone</div>
                </div>
                <div class="func-block">
                    <a th:href="@{/home}">
                        <p>Home</p>
                    </a>
                    <a th:href="@{/movies}">
                        <p>Movies</p>
                    </a>
                    <a th:href="@{/movies/favourites}">
                        <p>Favourite Movies</p>
                    </a>
                    <a th:href="@{/movies/liked}">
                        <p>Most Liked Movies</p>
                    </a>
                    <a>
                        <a th:href="@{'/users/' + ${user.id} + '/profile'}">
                            <p>Profile</p>
                        </a>

                        <a th:href="@{/subscriptions}">
                            <p>Upgrade Plan</p>
                        </a>

                        <a th:href="@{/wallet}">
                            <p>Wallet</p>
                        </a>

                        <a th:href="@{/transactions}">
                            <p>Transactions</p>
                        </a>

                        <a th:href="@{/subscriptions/history}">
                            <p>Subscription History</p>
                        </a>
                    </a>

                    <a th:href="@{/notifications}">
                        <p>Notification</p>
                    </a>

                    <a th:href="@{/contacts}">
                        <p>Contacts</p>
                    </a>
                    <a th:href="@{/users}" th:if="${user.getUserRole().name() == 'ADMIN'}">
                        <p>Users</p>
                    </a>
                </div>
            </div>
        </nav>

        <div class="logout">
            <a th:href="@{/logout}" class="button logout">Logout</a>
        </div>
    </div>
</div>



<!-- NOTIFICATION  -->
<div class="home-section">
    <div class="notification-preferences-box">
        <h2>Notification Dashboard</h2>
        <p>Current preferences:</p>

        <div class="details-section">
            <div class="details-section-container">
                <strong>Notification type: </strong>
                <p th:text="${notificationPreference.type}"></p>
            </div>
        </div>

        <div class="details-section">
            <div class="details-section-container">
                <strong>Source: </strong>
                <p th:text="${notificationPreference.contactInfo}"></p>
            </div>
        </div>

        <div class="details-section">
            <div class="details-section-container">
                <strong>Non-failed notifications: </strong>
                <p th:text="${succeededNotificationsNumber}"></p>
            </div>
        </div>

        <div class="details-section">
            <div class="details-section-container">
                <strong>Failed notifications: </strong>
                <p th:text="${failedNotificationsNumber}"></p>
            </div>
        </div>

        <div class="details-section">
            <div class="details-section-container">
                <strong>Notification state: </strong>
                <p class="enabled-notification-status" th:if="${notificationPreference.enabled}">ENABLED</p>
                <p class="disabled-notification-status" th:unless="${notificationPreference.enabled}">DISABLED</p>
            </div>
        </div>

        <p>Change State:</p>
        <div class="allowed-notification-actions">
            <form th:action="@{'/notifications/user-preference?enabled=false'}" th:method="PUT" th:if="${notificationPreference.enabled}">
                <button class="profile-actions-button disable-notifications">
                    <p>Disable Notifications</p>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20 6L9 17L4 12" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round"></path>
                    </svg>
                </button>
            </form>
            <form th:action="@{'/notifications/user-preference?enabled=true'}" th:method="PUT" th:unless="${notificationPreference.enabled}">
                <button class="profile-actions-button enable-notifications">
                    <p>Enable Notifications</p>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20 6L9 17L4 12" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round"></path>
                    </svg>
                </button>
            </form>
        </div>



        <p class="small-informative-text-bottom">Any action that you take will affect the notification mechanism for your account!</p>
    </div>

    <div class="notification-history-box">
        <h2>Notification History</h2>
        <p>Your last 5 notifications from us:</p>

        <table class="styled-table" th:unless="${#lists.isEmpty(notificationHistory)}">
            <thead>
            <tr>
                <th>Subject</th>
                <th>Date</th>
                <th>Status</th>
                <th>Type</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="notification : ${notificationHistory}">
                <td th:text="${notification.subject}"></td>
                <td th:text="${#temporals.format(notification.createdOn, 'dd MMM YYYY')}"></td>
                <td th:if="${notification.status == 'SUCCEEDED'}"><span class="status succeeded">Succeeded</span></td>
                <td th:if="${notification.status == 'FAILED'}"><span class="status failed">Failed</span></td>
                <td>
                    <div class="default-label-box"><p th:text="${notification.type}"></p></div>
                </td>
            </tr>
            </tbody>
        </table>

        <table class="styled-table" th:if="${#lists.isEmpty(notificationHistory)}">
            <thead>
            <tr>
                <th>Subject</th>
                <th>Date</th>
                <th>Status</th>
                <th>Type</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            </tbody>
        </table>
        <p class="small-informative-text-bottom">Every record in this table is equal to 1 notification of a certain type.</p>
    </div>
</div>
<div class="footer"><p>© 2025 MyChillZone. All rights reserved.</p></div>
</body>
</html>