<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/search.css">
    <title>Search</title>
</head>
<body>

<div class="nav-bar">
    <div class="top-bar-container">
        <nav>
            <div class="top-navbar">
                <div class="my-chill-zone-nav-bar">
                    <div class="my-chill-zone-logo">MyChill</div>
                    <div class="my-chill-zone-logo-under">Zone</div>
                </div>
                <div class="func-block">
                    <a th:href="@{/home}">
                        <p>Home</p>
                    </a>
                    <a th:href="@{/search}">
                        <p>Search</p>
                    </a>
                    <a th:href="@{/category}">
                        <p>Category</p>
                    </a>
                    <a th:href="@{/movies}">
                        <p>Movies</p>
                    </a>
                    <a th:href="@{/movies/favourites}">
                        <p>Favourite Movies</p>
                    </a>
                    <a th:href="@{/movies/liked}">
                        <p>Most Liked Movies</p>
                    </a>
                    <a th:href="@{'/users/' + ${user.id} + '/profile'}">
                        <p>Profile</p>
                    </a>
                    <a th:href="@{/notifications}">
                        <p>Notification</p>
                    </a>

                    <a th:href="@{/contacts}">
                        <p>Contacts</p>
                    </a>
                    <a th:href="@{/users}" th:if="${user.getUserRole().name() == 'ADMIN'}">
                        <p>Users</p>
                    </a>
                </div>
            </div>
        </nav>

        <div class="logout">
            <a th:href="@{/logout}" class="button logout">Logout</a>
        </div>
    </div>
</div>

<main>

    <div class="search-container">
        <h2>Search Movies</h2>
        <form th:action="@{'/search/results'}" th:method="GET">
            <input type="text" name="movie" placeholder="Enter movie name" required>
            <button type="submit">Search</button>
        </form>
    </div>

    <div class="message-container">
        <p th:if="${message}" class="no-results" th:text="${message}"></p>
    </div>

    <div class="search-results" th:if="${searchResults != null}">
        <h3>Search Results for: <span th:text="${movie}"></span></h3>
        <div class="results-container">
            <div class="movie-card" th:each="m :${searchResults}">
                <img th:src="@{${m.imageUrl}}" class="movie-poster" th:alt="${m.title}">
                <div class="movie-info">
                    <h4 th:text="${m.title}"></h4>
                    <p th:text="'Genre: ' + ${m.genre}"></p>
                </div>
            </div>
        </div>
    </div>

</main>
</body>
<div class="footer"><p>© 2025 MyChillZone. All rights reserved.</p></div>
</html>