<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/upgrade.css">


    <title>Upgrade Plan</title>
</head>
<body>

<main>
    <div class="nav-bar">
        <div class="top-bar-container">
            <nav>
                <div class="top-navbar">
                    <div class="my-chill-zone-nav-bar">
                        <div class="my-chill-zone-logo">MyChill</div>
                        <div class="my-chill-zone-logo-under">Zone</div>
                    </div>
                    <div class="func-block">
                        <a href="/home">
                            <p>Home</p>
                        </a>

                        <a href="/profile">
                            <p>Profile</p>
                        </a>

                        <a href="/subscriptions">
                            <p>Upgrade Plan</p>
                        </a>

                        <a href="/transfers">
                            <p>Wallet</p>
                        </a>

                        <a href="/transactions">
                            <p>Transactions</p>
                        </a>

                        <a href="/subscriptions/history">
                            <p>Subscription History</p>
                        </a>

                        <a href="/users">
                            <p>Contacts</p>
                        </a>

                        <a href="/users">
                            <p>Users</p>
                        </a>
                    </div>
                </div>
            </nav>



            <div class="logout">
                <a href="/logout" class="button logout">Logout</a>
            </div>
        </div>
    </div>

    <!--  UPGRADE  PLAN -->

    <div class="home-section">
        <div class="single-upgrade-box">
            <div class="upgrade-option-header-box">
                <div class="upgrade-option-header default">
                    <h2>DEFAULT</h2>
                </div>
            </div>
            <div class="upgrade-option-benefits">
                <table class="styled-table default-benefits">
                    <thead>
                    <tr>
                        <th>Benefits</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Watch to 5 films</td>
                    </tr>
                    <tr>
                        <td>10% tax per transfer</td>
                    </tr>
                    <tr>
                        <td>International tax 0.20 cent</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="upgrade-option-price">
                <p>0.00</p>
                <p>monthly price</p>
                <p>0.00</p>
                <p>yearly price</p>
            </div>
            <form th:class="form" th:action="@{'/subscriptions?subscription-type=DEFAULT'}" th:method="post" th:object="${upgradeRequest}">
                <label>Choose period</label>
                <select name="subscriptionPeriod" th:field="*{subscriptionPeriod}">
                    <option th:each="period : ${T(MyChillZone.subscription.model.SubscriptionPeriod).values()}" th:value="${period}" th:text="${#strings.capitalize(#strings.toLowerCase(period.name()))}"></option>
                </select>
                <label>Choose wallet to pay with</label>
                <select name="walletId" th:field="*{walletId}">
                    <option th:each="wallet : ${user.wallets}"  th:value="${wallet.id}"  th:text="${'Standard Wallet - ' + wallet.balance + ' EUR'}"></option>
                </select>
                <!-- Buttons does not support th:field and th:value, so we can use name(pick the object field) value(the value to be bind to that field)-->
                <button th:if="${!(user.subscriptions.get(0).type.name() == 'DEFAULT')}" class="subscription-action-button" type="submit" name="subscriptionType" id="DEFAULT" value="DEFAULT">
                    <p>Receive</p>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                                d="M2 2H3.30616C3.55218 2 3.67519 2 3.77418 2.04524C3.86142 2.08511 3.93535 2.14922 3.98715 2.22995C4.04593 2.32154 4.06333 2.44332 4.09812 2.68686L4.57143 6M4.57143 6L5.62332 13.7314C5.75681 14.7125 5.82355 15.2031 6.0581 15.5723C6.26478 15.8977 6.56108 16.1564 6.91135 16.3174C7.30886 16.5 7.80394 16.5 8.79411 16.5H17.352C18.2945 16.5 18.7658 16.5 19.151 16.3304C19.4905 16.1809 19.7818 15.9398 19.9923 15.6342C20.2309 15.2876 20.3191 14.8247 20.4955 13.8988L21.8191 6.94969C21.8812 6.62381 21.9122 6.46087 21.8672 6.3335C21.8278 6.22177 21.7499 6.12768 21.6475 6.06802C21.5308 6 21.365 6 21.0332 6H4.57143ZM10 21C10 21.5523 9.55228 22 9 22C8.44772 22 8 21.5523 8 21C8 20.4477 8.44772 20 9 20C9.55228 20 10 20.4477 10 21ZM18 21C18 21.5523 17.5523 22 17 22C16.4477 22 16 21.5523 16 21C16 20.4477 16.4477 20 17 20C17.5523 20 18 20.4477 18 21Z"
                                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </button>
                <div th:if="${user.subscriptions.get(0).type.name() == 'DEFAULT'}" class="default-label-box default-label-box">
                    <p>Your current subscription</p>
                </div>
            </form>
        </div>

        <div class="single-upgrade-box">
            <div class="upgrade-option-header-box">
                <div class="upgrade-option-header premium">
                    <h2>PREMIUM</h2>
                </div>
            </div>
            <div class="upgrade-option-benefits">
                <table class="styled-table premium-benefits">
                    <thead>
                    <tr>
                        <th>Benefits</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Unlimited watch</td>
                    </tr>
                    <tr>
                        <td>8% tax per transfer</td>
                    </tr>
                    <tr>
                        <td>International tax 0.20 cent</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="upgrade-option-price">
                <p>19.99</p>
                <p>monthly price</p>
                <p>199.99</p>
                <p>yearly price</p>
            </div>
            <form class="form" th:action="@{'/subscriptions?subscription-type=PREMIUM'}" th:method="post" th:object="${upgradeRequest}">
                <label>Choose period</label>
                <select name="subscriptionPeriod" th:field="*{subscriptionPeriod}">
                    <option th:each="period : ${T(MyChillZone.subscription.model.SubscriptionPeriod).values()}" th:value="${period}" th:text="${#strings.capitalize(#strings.toLowerCase(period.name()))}"></option>
                </select>
                <label>Choose wallet to pay with</label>
                <select name="walletId" th:field="*{walletId}">
                    <option th:each="wallet : ${user.wallets}"  th:value="${wallet.id}"  th:text="${'Standard Wallet - ' + wallet.balance + ' EUR'}"></option>
                </select>
                <button th:if="${!(user.subscriptions.get(0).type.name() == 'PREMIUM')}" class="subscription-action-button" type="submit" name="subscriptionType" id="PREMIUM" value="PREMIUM">
                    <p>Receive</p>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                                d="M2 2H3.30616C3.55218 2 3.67519 2 3.77418 2.04524C3.86142 2.08511 3.93535 2.14922 3.98715 2.22995C4.04593 2.32154 4.06333 2.44332 4.09812 2.68686L4.57143 6M4.57143 6L5.62332 13.7314C5.75681 14.7125 5.82355 15.2031 6.0581 15.5723C6.26478 15.8977 6.56108 16.1564 6.91135 16.3174C7.30886 16.5 7.80394 16.5 8.79411 16.5H17.352C18.2945 16.5 18.7658 16.5 19.151 16.3304C19.4905 16.1809 19.7818 15.9398 19.9923 15.6342C20.2309 15.2876 20.3191 14.8247 20.4955 13.8988L21.8191 6.94969C21.8812 6.62381 21.9122 6.46087 21.8672 6.3335C21.8278 6.22177 21.7499 6.12768 21.6475 6.06802C21.5308 6 21.365 6 21.0332 6H4.57143ZM10 21C10 21.5523 9.55228 22 9 22C8.44772 22 8 21.5523 8 21C8 20.4477 8.44772 20 9 20C9.55228 20 10 20.4477 10 21ZM18 21C18 21.5523 17.5523 22 17 22C16.4477 22 16 21.5523 16 21C16 20.4477 16.4477 20 17 20C17.5523 20 18 20.4477 18 21Z"
                                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </button>
                <div th:if="${user.subscriptions.get(0).type.name() == 'PREMIUM'}" class="default-label-box default-label-box">
                    <p>Your current subscription</p>
                </div>
            </form>
        </div>

        <div class="single-upgrade-box ultimate-box">
            <div class="upgrade-option-header-box">
                <div class="upgrade-option-header ultimate">
                    <h2>ULTIMATE</h2>
                </div>
            </div>
            <div class="upgrade-option-benefits">
                <table class="styled-table ultimate-benefits">
                    <thead>
                    <tr>
                        <th>Benefits</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Unlimited watch</td>
                    </tr>
                    <tr>
                        <td>2% tax per transfer</td>
                    </tr>
                    <tr>
                        <td>No International tax</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="upgrade-option-price">
                <p>49.99</p>
                <p>monthly price</p>
                <p>499.99</p>
                <p>yearly price</p>
            </div>
            <form th:class="form" th:action="@{'/subscriptions?subscription-type=ULTIMATE'}" th:method="post" th:object="${upgradeRequest}">
                <label>Choose period</label>
                <select name="subscriptionPeriod" th:field="*{subscriptionPeriod}">
                    <option th:each="period : ${T(MyChillZone.subscription.model.SubscriptionPeriod).values()}" th:value="${period}" th:text="${#strings.capitalize(#strings.toLowerCase(period.name()))}"></option>
                </select>
                <label>Choose wallet to pay with</label>
                <select name="walletId" th:field="*{walletId}">
                    <option th:each="wallet : ${user.wallets}"  th:value="${wallet.id}"  th:text="${'Standard Wallet - ' + wallet.balance + ' EUR'}"></option>
                </select>
                <button th:if="${!(user.subscriptions.get(0).type.name() == 'ULTIMATE')}" class="subscription-action-button" type="submit" name="subscriptionType" id="ULTIMATE" value="ULTIMATE">
                    <p>Receive</p>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                                d="M2 2H3.30616C3.55218 2 3.67519 2 3.77418 2.04524C3.86142 2.08511 3.93535 2.14922 3.98715 2.22995C4.04593 2.32154 4.06333 2.44332 4.09812 2.68686L4.57143 6M4.57143 6L5.62332 13.7314C5.75681 14.7125 5.82355 15.2031 6.0581 15.5723C6.26478 15.8977 6.56108 16.1564 6.91135 16.3174C7.30886 16.5 7.80394 16.5 8.79411 16.5H17.352C18.2945 16.5 18.7658 16.5 19.151 16.3304C19.4905 16.1809 19.7818 15.9398 19.9923 15.6342C20.2309 15.2876 20.3191 14.8247 20.4955 13.8988L21.8191 6.94969C21.8812 6.62381 21.9122 6.46087 21.8672 6.3335C21.8278 6.22177 21.7499 6.12768 21.6475 6.06802C21.5308 6 21.365 6 21.0332 6H4.57143ZM10 21C10 21.5523 9.55228 22 9 22C8.44772 22 8 21.5523 8 21C8 20.4477 8.44772 20 9 20C9.55228 20 10 20.4477 10 21ZM18 21C18 21.5523 17.5523 22 17 22C16.4477 22 16 21.5523 16 21C16 20.4477 16.4477 20 17 20C17.5523 20 18 20.4477 18 21Z"
                                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </button>
                <div th:if="${user.subscriptions.get(0).type.name() == 'ULTIMATE'}" class="default-label-box ultimate-label">
                    <p>Your current subscription</p>
                </div>
            </form>
        </div>
    </div>

    <div class="footer"><p>© 2025 MyChillZone. All rights reserved.</p></div>
</main>
</body>
</html>